.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
backend.tf
!backend.tf.example
.build/
*.zip

__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

.DS_Store
.idea/
.vscode/
